.vending-machine {
  display: flex;
  margin: 20px;
}

.disabled {
  pointer-events: none;
}

.product-storage {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  .product {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 100px;
    width: calc(25% - 24px);
    border: 2px solid rgb(94, 86, 86);
    border-radius: 8px;
    margin: 10px;
    .brand {
      font-weight: 600;
    }
    .price {
      color: red
    }
    .id {
      font-weight: 600;
      color: green
    }
  }
  .available {
    background: linear-gradient(-45deg, #ee7752, #d0f193, #23d5c6, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.product {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-top: 1.5rem;
}

input {
  border-radius: 7px;
  outline: none;
  margin: 10px 0px;
  &[type=text] {
    padding: 10px;
    border: 0;
  }
}
